exclude: ^(vendor|.idea)/
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-added-large-files
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.42.0
    hooks:
      - id: golangci-lint
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.18.0
    hooks:
      - id: commitizen
        stages: [commit-msg]
